body {
    margin: 0;
    padding: 0;
    background-image: url("");
}

#board {
    height: 100vh;
    background-color: rgb(186, 204, 206);  
    position: relative;
}

#player {
    background-color: blueviolet;
    position: absolute;
   
}

.obstacle {
    background-color: brown;
    position: absolute;
}